{% extends 'odapp/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3 txt-theme-color">
    </h1>
    <!-- Intro Content -->
    <div class="row">
      <div class="col-lg-6">
      	<img src="{% static 'logo2.png' %}"/>
      </div>
      <div class="col-lg-6">
      	<br><br>
      	<h2>Who are we?</h2>
        <p>We are a young and ambitious team of developers, studying at the University of Bucharest. We aim to tackle real life situations and provide the most user-friendly experience one could have! </p>
        <h2>What do we offer?</h2>
        <p>Order & Dine's main goal is to provide a place where anyone can either choose for a stay-in kind of meal or, on the contrary, for some of the fanciest places in town to hang out! Doesn't matter if you're looking for a place to have brunch, or for the best pizza in town, we got you covered!  
      	Therefore, Order&Dine comes in handy for several real-life situations! Thanks to us, you don't have to keep multiple apps, because we offer everything that you want when it comes to food! <br>
      	</p>

      </div>
    </div>
</div>
{% endblock %}
