{% load static %}
<html>
    <head>
        <title>Order and Dine</title>
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="header">
          <div class="logo">
            Order &amp; Dine
          </div>
          <div class="vertical-bar"></div>
          <div class="header-right">
            <div class="simple-nav">
              Delivery
            </div>
            <div class="simple-nav">
              Reservation
            </div>
            <div class="simple-nav">
              Contact
            </div>
            <div class="simple-nav">
              About
            </div>
            <div class='search-bar-container'>
              <div>
              </div>
              <input class='search-bar' placeholder="🔍 Search food here..."/>
            </div>
          </div>
        </div>
        <div class="content">
            <div class="row">
              {% block content %}
              {% endblock %}
            </div>
        </div>
    </body>
</html>
