{% extends 'odapp/base.html' %}

{% block content %}
  <div class="all-container">
    <div class="col-sm-3" id="Fast Food">
      <div class="image-container">
        <img class="image-link" src="static/fastfood.jpg"></img>
      </div>
      <h2 class="food-tag">Fast Food</h2>
      <div class="restaurant">
        <div class="restaurant-title">
          <h2>Vivo-Fushion Food Bar</h2>
        </div>
        <div class="restaurant-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl sapien, 
          viverra eu maximus id, venenatis nec libero. Curabitur dolor nunc, condimentum 
          sed mauris sed, tincidunt ultricies nisi. Nam tincidunt nisi lacus, eu 
          scelerisque est efficitur eu. Nulla eu lorem mauris. Nunc tempor condimentum justo, 
          vel luctus risus bibendum nec. Duis ligula lorem, pretium quis porta quis, 
          interdum vel nibh. Nam faucibus eget diam id viverra.
        </div>
      </div>
    </div>
    <div class="col-sm-3" id="Brunch">
      <div class="image-container">
        <img class="image-link" src="static/brunch.jpeg"></img>
      </div>
      <h2 class="food-tag">Brunch</h2>
      <div class="restaurant">
        <div class="restaurant-title">
          <h2>Dianei 4</h2>
        </div>
        <div class="restaurant-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl sapien, 
          viverra eu maximus id, venenatis nec libero. Curabitur dolor nunc, condimentum 
          sed mauris sed, tincidunt ultricies nisi. Nam tincidunt nisi lacus, eu 
          scelerisque est efficitur eu. Nulla eu lorem mauris. Nunc tempor condimentum justo, 
          vel luctus risus bibendum nec. Duis ligula lorem, pretium quis porta quis, 
          interdum vel nibh. Nam faucibus eget diam id viverra.
        </div>
      </div>
    </div>
    <div class="col-sm-3" id="Fine dining">
      <div class="image-container">
        <img class="image-link" src="static/brunch.jpeg"></img>
      </div>
      <h2 class="food-tag">Fine dining</h2>
      <div class="restaurant">
        <div class="restaurant-title">
          <h2>the ARTIST</h2>
        </div>
        <div class="restaurant-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl sapien, 
          viverra eu maximus id, venenatis nec libero. Curabitur dolor nunc, condimentum 
          sed mauris sed, tincidunt ultricies nisi. Nam tincidunt nisi lacus, eu 
          scelerisque est efficitur eu. Nulla eu lorem mauris. Nunc tempor condimentum justo, 
          vel luctus risus bibendum nec. Duis ligula lorem, pretium quis porta quis, 
          interdum vel nibh. Nam faucibus eget diam id viverra.
        </div>
      </div>
    </div>
    {% if not user.is_authenticated %}
    <div class="col-sm-3">
      <div class="card">
        <h2 class="bold-font text-center">Log in</h2>
        <form method="post" class="text-center" style="margin-top: 20px;">
          {% csrf_token %}
          <input class="input" type="text" id="username" name="username" placeholder="✉ Email">
          <input class="input" type="password" name="password" id="password" placeholder="*️ Password">
          <button type="submit" class="button" style="margin-left: auto; margin-right: auto;">Login</button>
        </form>
      </div>
    </div>
    {% endif %}
  </div>
{% endblock %}
